<body>
    
    
        <video-list [videos]="videos">
           
            </video-list>    
    
    

    
    <th>  REGISTROS: {{videos.length}} </th>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>CLAVE</th>
                <th>CORREO</th>
                <th>NOMBRE</th>
                <th>TIPO DE USUARIO</th>
                </tr>
               
                </thead>
                <tbody>
                    <tr *ngFor="#v of videos" (click)="onSelect(v)">
                      
                        <td> {{v.clave}} </td>
                        <td> {{v.correo}} </td>    
                        <td> {{v.nombre}} </td>
                         <td> {{v.tiusu}} </td>
                        </tr>
                        </tbody>
                        
                        

                        
                        
                        </table>
                        
                           <div class="panel panel-primary" *ngIf="selectedVideo">
                            <div class="panel-heading">  <h4> Detalles: </h4>  </div>

                              <div class="panel-body">
                            <b>CLAVE: </b> {{selectedVideo.clave}}<br>
                            <b>CORREO: </b> {{selectedVideo.correo}}<br>
                            <b>NOMBRE: </b> {{selectedVideo.nombre}} <br>
                            <b>USUARIO: </b> {{selectedVideo.tiusu}} <br>
                            </div>
                        </div>
                        </body>